*~
*.bak
*.class
*.iml
*.swp
*-tmp.html
.project
.classpath
.settings
git-modified-list.txt
nbbuild.xml
properties/
.METADATA
.DS_Store
.directory 
.gradle
.nb-gradle

node_modules/

/*.ipr
/*.iws
/*.patch
build.*.properties

build/
bundles/
classes/
dist/
**nbproject**
.ivy/
.sass-cache/
.DS_Store/
*#
-gradle/
**/temp/**
