*~
*.bak
*.class
*.iml
*.swp
*-tmp.html
.METADATA
.project
!/.project
.classpath
!/.classpath
.settings
git-modified-list.txt
nbbuild.xml
properties/

/*.ipr
/*.iws
/*.patch
/build.*.properties

build/
classes/
dist/
**nbproject**
.ivy/
.sass-cache/
.DS_Store/
*#
