*~
*.bak
*.class
*.iml
*.swp
*-tmp.html
*.zip
.project
.classpath
.METADATA
.settings
git-modified-list.txt
nbbuild.xml
properties/

/*.ipr
/*.iws
/*.patch
build.*.properties

build/
classes/
dist/
**nbproject**
.ivy/
.sass-cache/
.DS_Store/
*#
