## Define variables
#set ($portletNamespace = $request.portlet-namespace)

<style type="text/css">

	## CSS selectors are not namespaced in this example and could potentially affect other elements on the page that have the same css class names
	
	.carousel {
		height: 370px;
		width: 963px;
	}

	.image-viewer-base-image {
		height: 370px;
	    width: 963px;
	}

</style>
<style type="text/css">

	#set ($count = 1)
	#foreach ($each-image in $image.siblings)

		.image-viewer-base-image-$count {
			background-image: url($each-image.data);
		}

		#set ($count = $count + 1)	
	#end
</style>

<div class="carousel" id="${request.portlet-namespace}carousel">
	#set ($count = 1)
	#set ($activeClass = '')

	#foreach ($each-image in $image.siblings)
		#if ($count == 1)
			#set ($activeClass = 'image-viewer-base-image-active')
		#end

		<a href="$each-image.link.data" class="display-b image-viewer-base-image image-viewer-base-image-$count $activeClass callout u-12-12 h-14-12 u-9-9 h-10-9">
			<div class="aui-helper-hidden-accessible">
				$each-image.content.data
			</div>
		</a>
		#set ($activeClass = '')

		#set ($count = $count + 1)
	#end
</div>

<script>

	AUI().ready('aui-carousel', function(A) {
		var carousel = new A.Carousel({
			intervalTime: 5,
			contentBox: '#${request.portlet-namespace}carousel',
			activeIndex: 0,
			after: {
				render: function(e) {
					var carouselInstance = e.currentTarget;
					var contentBox = carouselInstance.get('contentBox');
					var firstItem = contentBox.one('.image-viewer-base-image-1');
					
					firstItem.setStyle('opacity' , 1);
				}
			}
		})
		.render();
	});

</script>