.MobileCSS { padding: 4%; width: 92%; }
.MobileCSS, .MobileCSS span, .MobileCSS p, .MobileCSS h1, .MobileCSS h2, .MobileCSS h3 { font-size: 110%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 200; }
.MobileCSS img { width: 100% !important; }
.span2, .span3, .span4, .span6, .span8, .span10 { width: 100%; }
