body.green, .green .portlet {
  background-color: #F1F3EF; }

.green .logo .current-site {
  background-color: #AFBFA7; }

.green .aui-state-hover {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362; }

.green .aui-icon {
  background-image: url(@theme_image_path@/color_schemes/green/aui/icon_sprite.png); }

/* ---------- Links ---------- */
.green a {
  color: #677D5B; }

.green a:hover {
  color: #66CD00; }

/* ---------- Application styling ---------- */
.green .results-header {
  background-color: #D7DDD2; }

.green .results-row.alt td {
  background-color: #E2E7DE; }

.green .results-row.hover td {
  background-color: #C4CDBD; }

.green .drop-area {
  background-color: #DBDED4; }

.green .aui-resizable-proxy {
  border-color: #909683; }

.green .aui-sortable-proxy {
  background-color: #7C8272; }

.green .aui-menugroup-content h4 {
  background-color: #D7DFD3;
  color: #677D5B; }

.green .aui-menu-content li a, .green .lfr-menu-list ul li a {
  color: #2F342C; }

.green .my-sites-menu .current-site {
  border-color: #42811D; }

.green .my-sites-menu .current-site a {
  background-color: #68BB30;
  color: #FFF; }

.green .aui-menu-content li a.aui-focus, .green .lfr-menu-list ul a.aui-focus, .green .lfr-menu-expanded li a:focus {
  background-color: #677D5B;
  color: #FFF;
  text-shadow: -1px -1px #2f342c; }

.green .aui-tab {
  background: none; }

.green .aui-tab-active {
  background-color: #333; }

.green .aui-tab-active, .green .aui-tab-active a {
  color: #FFF; }

.green .portlet-communities .lfr-current-theme, .green .portlet-enterprise-admin .lfr-current-theme {
  background-color: #F6F8F1;
  border-color: #909683; }

.green .portlet-communities .theme-entry, .green .portlet-communities .lfr-current-theme .theme-screenshot, .green .portlet-enterprise-admin .theme-entry, .green .portlet-enterprise-admin .lfr-current-theme .theme-screenshot {
  border-color: #B9BDAF; }

.green .portlet-communities .theme-entry .theme-title, .green .portlet-enterprise-admin .theme-entry .theme-title {
  background-color: #909488;
  border-color: #909683; }

.green .portlet-communities .lfr-theme-list h3, .green .portlet-enterprise-admin .lfr-theme-list h3 {
  background-color: #DBDED4; }

.green .portlet-communities .selected-color-scheme .theme-entry, .green .portlet-enterprise-admin .selected-color-scheme .theme-entry {
  border-color: #669A33; }

.green .portlet-communities .lfr-theme-list .theme-entry:hover, .green .portlet-enterprise-admin .lfr-theme-list .theme-entry:hover {
  background-color: #F5FFE0;
  border-color: #CFE0A8;
  color: #BBC99F; }

.green .portlet-communities .theme-entry:hover .theme-thumbnail, .green .portlet-enterprise-admin .theme-entry:hover .theme-thumbnail {
  border-color: #CFE0A8; }

.green .portlet-document-library .detail-column-last {
  background-color: #F2FFD8; }

.green .portlet-document-library .detail-column-last .detail-column-content {
  border-color: #C6DA89; }

.green .dockbar {
  background-color: #A2AF98;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/dockbar_bg.png); }

.green .dockbar .menu-button-active {
  background-color: #95DB5C;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/button_active_bg.png); }

.green .dockbar .menu-button-active a {
  color: #FFF; }

.green .aui-portal-layout-drag-indicator {
  background-color: #57B63C; }

.green .aui-autocomplete-results-content {
  border-color: #C1F599; }

.green .aui-autocomplete-selected {
  background-color: #E9F7E0;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry {
  background-color: #D9F4CB;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry-focused {
  background-color: #57B63C;
  border-color: #404F34; }

.green .aui-textboxlistentry-close-hover {
  background-color: #BBEAA4; }

/* ---------- Portlet wrapper and icons ---------- */
.green .portlet {
  border-color: #909683; }

.green .portlet-topper {
  background-color: #D9DDD3;
  border-bottom-color: #B7BCAE; }

.green .panel-page .portlet-topper {
  border-bottom-color: #909683; }

.green .portlet-section-selected, .green .portlet-section-selected a {
  background-color: #909683; }

.green .portlet-section-selected a:hover, .green .portlet-section-selected a:focus {
  background-color: #909683; }

/* ---------- Calendar portlet ---------- */
.green .portlet-calendar .calendar-day .day-text {
  background-color: #909683; }

.green .taglib-calendar tr td a {
  background-color: #EFF3EA; }

.green .taglib-calendar tr td a:hover {
  background-color: #909683; }

.green .taglib-calendar .calendar-current-day a {
  border-color: #909683;
  color: #5F9930; }

.green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
  background-color: #F2FFDF;
  border-color: #B7BCAE;
  color: #5BCC00; }

.green .taglib-calendar .calendar-current-day, .green .taglib-calendar .calendar-current-day a {
  background-color: #FFF; }

.green .taglib-calendar tr td.calendar-inactive {
  color: #BEC4B5; }

/* ---------- Miscellaneous portlet styles ---------- */
.green .journal-template-error .scroll-pane pre span {
  background-color: #BEC4B5; }

.green .restricted * {
  color: #909683; }

.green .lfr-actions .lfr-trigger li a:hover {
  background-color: #909683; }

.green .lfr-tag-selector-popup .aui-textfield-content {
  background-color: #DBDED4;
  border-color: #B9BDAF; }

/* This CSS sets the default styles for forms. */
.green input[type="submit"], .green input[type="button"], .green input[type="reset"], .green button, .green .lfr-actions, .green .lfr-actions ul {
  color: #404F34; }

.green input[type="submit"]:hover, .green input[type="button"]:hover, .green input[type="reset"]:hover, .green button:hover, .green .lfr-actions:hover, .green .lfr-actions:hover ul {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362;
  color: #669A33; }

.green input[type="submit"]:focus, .green input[type="button"]:focus, .green input[type="reset"]:focus, .green button:focus, .green .lfr-actions:focus, .green .lfr-actions:focus ul {
  background-color: #ECECEC;
  background-image: url(@theme_image_path@/application/state_active_bg.png); }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie6 .green input.submit, .ie6 .green input.button, .ie6 .green button, .ie6 .green .aui-button-disabled input.submit, .ie6 .green .aui-button-disabled input.button, .ie6 .green .aui-button-disabled button {
  color: #404F34; }

/* ---------- Site breadcrumbs ---------- */
.green .site-breadcrumbs li.first a {
  color: #669A33; }

.green .site-breadcrumbs li.last a {
  color: #55674B; }

.green .lfr-hudcrumbs .breadcrumbs li a, .green .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

