.guestbook_tab,.guestbook_tab_active {
	line-height: 20px;
	padding: 8px 12px 3px 12px;
}

.guestbook_tab {
	border-bottom: 1px solid #ddd;
}

.guestbook_tab_active {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: bold;
}

.aui a.btn, .aui input[type="submit"] {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 11px;
	margin-top: 6px;
	font-weight: normal;
}
