#btnWrapper
{
	padding-top:-20px;
}
#phrase
{
	font-size:200%;
	line-height:120%;
}
#phraseTitle
{
	font-size:35px;
	line-height:120%;
}

.message
{
	resize:none;
}

#messages
{
	display:inline;
	white-space:nowrap;
}
#con, #con2, #con3
{
	display:inline;
}
#counterContainer
{
	
}
#cbox
{
	float:left;
}
#ttip
{
	float:left;
	margin-left:10px;
}
#silly
{
	display:none;
}
